.Footer__backToTop{
    background-color: #38445c;
    color: white;
    text-align: center;
}
.Footer__amazonDetails{
    background-color: #282c3c;
}
.Footer__amazonFeatures{
     background-color: #181c24;
}